<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href = "/styles.css" rel = "stylesheet"/>
    <title>Albums</title>
</head>

<body>

    <h1>Albums</h1>

    <ul>
        <li th:each = "album : ${albums}" th:class = "${album.title}">
            <span th:text = "${album}"></span>
            <a th:href = "'/albums/'+${album.id}">See details</a>
<!--            <form method = "GET" action = "/album/{id}">-->
<!--                <input type = "hidden" th:value = "${album.id}" name = "id">-->
<!--                <button>Delete this album</button>-->
<!--            </form>-->
        </li>
    </ul>

</body>
</html>